<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/joinWorker.css" rel="stylesheet">
    <script src="/js/join/constant.js"></script>
    <script src="/js/join/error.js"></script>
    <script src="/js/join/valid.js"></script>
    <script src="/js/join/worker.js"></script>
</head>
<body>
<section class="container worker-join">
    <div class="join-wrap shadow">
        <div class="alert-box">
            <span id="error-msg"></span>
        </div>
        <div class="page-name">개인 회원 가입</div>
<!--        enctype="multipart/form-data"-->
<!--        <form action="/join/worker" class="form" method="post" id="joinForm"  enctype="multipart/form-data">-->
        <form action="/join/worker" class="form" method="post" id="joinForm" >
            <div class="agree-list">
                <div class="agree-all">
                    <div>
                        <input type="checkbox" id="agree-chk-all">
                        <label for="agree-chk-all">이용약관에 전체 동의</label>
                    </div>
                </div>
                <div class="agree-solo">
                    <div class="agree-service-wrap">
                        <input type="checkbox" id="agree-service" class="agree-member">
                        <label for="agree-service" class="text-danger">[필수]</label>
                        <label for="agree-service">서비스 이용약관 동의</label>
                    </div>
                    <div class="agree-personal-info-wrap">
                        <input type="checkbox" id="agree-personal-info" class="agree-member">
                        <label for="agree-personal-info" class="text-danger">[필수]</label>
                        <label for="agree-personal-info">개인정보 수집 및 이용 동의</label>
                    </div>
                    <div>
                        <input type="checkbox" id="agree-sms" class="agree-member">
                        <label for="agree-sms" class="text-muted">[선택] 광고성 정보 수신 동의(SMS/MMS)</label>
                    </div>
                    <div>
                        <input type="checkbox" id="agree-email" class="agree-member">
                        <label for="agree-email" class="text-muted">[선택] 광고성 정보 수신 동의(이메일)</label>
                    </div>
                </div>

                <div class="agree-about">
                    <label> ※ 개인정보 수집 및 이용에 대한 동의를 거부할 권리가 있으며 동의 거부 시에는 회원가입이 불가합니다.</label>
                </div>
            </div>

            <div class="personal-info ">

                <div class="radio-wrap">

                    <div class="radio d-flex align-items-center">
                        <input type="radio" class="radio-button me-1" id="phone-auth" name="auth" checked>
                        <label for="phone-auth">휴대폰 인증</label>
                    </div>

                    <div class="radio d-flex align-items-center">
                        <input type="radio" class="radio-button me-1" id="i-pin" name="auth">
                        <label for="i-pin">아이핀(i-PIN) + 휴대폰 인증</label>
                    </div>

                </div>

                <div class="phone-auth d-flex justify-content-between align-items-center">
                    <label>본인 명의 휴대폰으로 인증 가능</label>
                    <button type="button" class="btn-auth">인증하기</button>
                </div>

                <div class="id-wrap">
                    <div class="id-name">
                        <label for="id">아이디(4~15자 영문, 숫자)</label>
                    </div>
                    <div class="id-value">
                        <input type="text" id="id" required>
                        <!--          <div class="invalid-feedback">아이디는 5글자이상 10글자 이하로 입력해주세요.</div>-->
                    </div>
                </div>

                <div class="pw-wrap">
                    <div class="pw-name">
                        <label for="pw">비밀번호 (8~16자 영문 ,숫자, 특수문자 조합)</label>
                    </div>
                    <div class="pw-value">
                        <input type="text" id="pw" required>
                        <!--          <div class="invalid-feedback">비밀번호를 확인해주세요.</div>-->
                    </div>
                </div>
                <div class="re-pw-wrap">
                    <div class="re-pw-name">
                        <label for="re-pw">비밀번호 재입력</label>
                    </div>
                    <div class="re-pw-value">
                        <input type="text" id="re-pw" required>
                        <!--          <div class="invalid-feedback">비밀번호가 일치하지않습니다.</div>-->
                    </div>
                </div>

                <div class="email-wrap d-flex justify-content-between align-items-center">
                    <div class="email-wrap2">
                        <div class="email-name">
                            <label for="email">이메일</label>
                        </div>
                        <div class="email-value">
                            <input type="text" id="email" required>
                            <!--            <div class="invalid-feedback">이메일을 확인해주세요.</div>-->
                        </div>
                    </div>
                    <button type="button" class="bth-email"> 확인</button>
                </div>

                <div class="name-wrap">
                    <div class="name-name">
                        <label for="name">이름</label>
                    </div>
                    <div class="name-value">
                        <input type="text" id="name" required>
                        <!--          <div class="invalid-feedback">이름을 확인해주세요.</div>-->
                    </div>
                </div>

                <div class="phone-wrap">
                    <div class="phone-name">
                        <label for="phone">연락처</label>
                    </div>
                    <div class="phone-value">
                        <input type="number" id="phone" required>
                        <!--          <div class="invalid-feedback">핸드폰 번호를 확인해주세요.</div>-->
                    </div>
                </div>

                <div class="adr-wrap d-flex justify-content-between align-items-center">
                    <div class="adr-wrap2">
                        <div class="adr-name">
                            <label for="adr">주소</label>
                        </div>
                        <div class="adr-value">
                            <input type="text" id="adr" required>
                        </div>
                    </div>
                    <button type="button" class="bth-adr">검색</button>
                </div>

                <div class="adr-detail-wrap">
                    <div class="adr-detail-name">
                        <label for="adr-detail">상세주소</label>
                    </div>
                    <div class="adr-detail-value">
                        <input type="text" id="adr-detail">
                    </div>
                </div>

                <div class="history-wrap d-flex justify-content-between align-items-center">
                    <div class="history-wrap2">
                        <div class="history-name">경력</div>
                        <div class="history-value d-flex justify-content-between align-items-center">
                            <input type="date" class="history-start-date">~
                            <input type="date" class="history-end-date">
                            <input type="text" class="history-content">
                            <button type="button" class="bth-history">+</button>
                        </div>
                    </div>
                </div>

                <div class="photo-wrap d-flex justify-content-between align-items-center">
                    <div class="photo-wrap2">
                        <div class="photo-name">사진</div>
                        <div class="photo-value d-flex justify-content-between align-items-center">
                            <!--                        <input type="text" class="photo-content">-->
                            <input type="file" multiple="multiple" class="photo-content" id="photo-content">
                            <!--                        <button type="button" class="bth-photo">+</button>-->
                        </div>
                    </div>
                </div>

                <span class="save-choice">
        개인정보 유효기간 선택
      </span>
                <div class="data-save">
                    <div class="radio d-flex align-items-center">
                        <input type="radio" class="radio-button me-1" id="1y" name="auth" checked value="0">
                        <label for="1y">1년</label>
                    </div>

                    <div class="radio d-flex align-items-center">
                        <input type="radio" class="radio-button me-1" id="3y" name="auth" value="1">
                        <label for="3y">3년</label>
                    </div>
                    <div class="radio d-flex align-items-center">
                        <input type="radio" class="radio-button me-1" id="until" name="auth" value="0">
                        <label for="until">회원 탈퇴시</label>
                    </div>
                </div>

            </div>
        </form>
        <button type="button" class="submit btn-outline-success" id="submit">가입하기</button>

    </div>
</section>

<script src="/js/bootstrap.bundle.min.js"></script>
<script async src="https://getbootstrap.com/docs/5.0/assets/js/validate-forms.js"></script>

</body>
</html>
<!--<script async src="https://getbootstrap.com/docs/5.0/assets/js/validate-forms.js"></script>-->
<!--<script src="/js/valid.js"></script>-->

<!--    <div class="outer-box">-->
<!--      <div class="checked-outer-box">-->
<!--        <input type="checkbox" name="all" id="test">-->
<!--        <span class="check-mark"></span>-->
<!--      </div>-->
<!--      <label for="test">이용약관 전체 동의</label>-->
<!--    </div>-->

<!--<section class="vh-100 w-100">-->
<!--   <div class="container">-->
<!--     <h4>기업회원가입</h4>-->
<!--    -->
<!--     &lt;!&ndash;이용약관 동의&ndash;&gt;-->
<!--     <div class="agree-cover">-->
<!--       <div class="agree-all"></div>-->
<!--       <div class="agree-select">-->
<!--         <div class="agree-service">서비스</div>-->
<!--         <div class="agree-personal-info">개인정보</div>-->
<!--         <div class="agree-sms">SMS</div>-->
<!--         <div class="agree-email">Email</div>-->
<!--       </div>-->
<!--     </div>-->
<!--     <div class="precaution">개인점보 수집 및 ... 불가</div>-->
<!--   </div>-->

<!--</section>-->


<!--<div class="id-wrap2">
        <span>아이디(4~15자 영문, 숫자)</span>
        <input type="text">
      </div>-->