<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고용내역</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h1>고용내역 리스트</h1>
<table>
    <tr>
        <th>고용일자</th>
        <th>근로자</th>
        <th>일당</th>
        <th>근무상태</th>
        <th>정산상태</th>
        <th>정산</th>
    </tr>
    <tr th:each="jobHistory : ${jobHistories}">
        <td th:text="${#temporals.format(jobHistory.historyTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${jobHistory.workerName}"></td>
        <td th:text="${jobHistory.pay}"></td>
        <td th:text="${jobHistory.workerStatus}"></td>
        <td th:text="${jobHistory.paymentStatus}"></td>
        <td><button>정산</button></td>
    </tr>
</table>
</body>
</html>
