<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고용자 메인</title>
</head>
<body>
<h1>지역선택</h1>
<select name="sido" class="sido"></select>
<hr>
<div class="sigungu"></div>
<hr>
<div class="eupmyeondong"></div>

<h1>근로자 목록</h1>
<div class="worker-list"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/select-local.js"></script>
<script>
    async function getApplicants() {
        const response = await axios.post("http://localhost:8080/employer/main/workerList");
        console.log(response.data);

    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', onloaded());

    function onloaded() {
        getSidoList();
        getApplicants();
    }
</script>
</body>
</html>