@import "normalize.css";

input:focus {
    outline: none;
}

.worker-join {
    display: flex;
    justify-content: center;
    border: 1px solid #f2f2f2 ;
}

.join-wrap {
    width: 620px;
    height: 1200px;
    padding: 39px 96px;
    border: solid #EFF2F6 1px;
}

.page-name {
    text-align: center;
    border-bottom: solid #DADADA 1px;
    font-weight: bold;
    padding: 4px 0;
    margin-bottom: 37px;
}
/*1px solid #10C6FF;*/
.agree-list {
    width: 430px;
    height: 200px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.agree-all {
    width: 430px;
    height: 46px;
    border: solid #f2f2f2 1px;
    padding: 4px 16px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.agree-solo {
    width: 430px;
    height: 118px;
    border: 1px solid #f2f2f2;
    background-color: #f8f9fb;
    padding: 14px 16px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.agree-about{
    font-size: 10px;
    padding: 4px 16px;
    color: #6c757d;
}

.personal-info {
    width: 100%;
    height: 800px;
}

.radio-wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
    width: 100%;
    height: 31px;
    border: solid #f2f2f2 1px;
    margin-bottom: 14px;
    font-size: 12px;
    background-color: #f2f4fa;
}

.phone-auth {
    padding: 8px 16px;
    width: 100%;
    height: 44px;
    border: solid #f2f2f2 1px;
    margin-bottom: 14px;
    font-size: 12px
}

.btn-auth {
    border: 1px solid #16EAB7;
    color: #16EAB7;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 16px;
}

.id-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.id-name {
    font-size: 10px;
    color: #908F8F;
}

.id-value {
    width: 100%;
    font-size: 12px;
}

.id-value input:focus {
    outline: none;
}

.id-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.pw-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.pw-name {
    font-size: 10px;
    color: #908F8F;
}

.pw-value {
    width: 100%;
    font-size: 12px;
}

.pw-value input:focus {
    outline: none;
}

.pw-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.re-pw-wrap {
    height: 44px;
    padding: 6px 16px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.re-pw-name {
    font-size: 10px;
    color: #908F8F;
}

.re-pw-value {
    width: 100%;
    font-size: 12px;
}

.re-pw-value input:focus {
    outline: none;
}

.re-pw-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.email-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.email-wrap2 {
    width: 80%;
}

.email-name {
    font-size: 10px;
    color: #908F8F;
}

.email-value {
    width: 100%;
    font-size: 12px;
}

.email-value input:focus {
    outline: none;
}

.email-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.bth-email {
    border: 1px solid #16EAB7;
    color: #16EAB7;
    height: 23px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 16px;
}


.name-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.name-name {
    font-size: 10px;
    color: #908F8F;
}

.name-value {
    width: 100%;
    font-size: 12px;
}

.name-value input:focus {
    outline: none;
}

.name-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.phone-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.phone-name {
    font-size: 10px;
    color: #908F8F;
}

.phone-value {
    width: 100%;
    font-size: 12px;
}

.phone-value input:focus {
    outline: none;
}

.phone-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.adr-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
}

.adr-wrap2 {
    width: 80%;
}

.adr-name {
    font-size: 10px;
    color: #908F8F;
}

.adr-value {
    width: 100%;
    font-size: 12px;
}

.adr-value input:focus {
    outline: none;
}

.adr-value input {
    width: 100%;
    padding: 0;
    border: none;
}

.bth-adr {
    border: 1px solid #16EAB7;
    color: #16EAB7;
    height: 23px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 16px;
}


.adr-detail-wrap {
    height: 44px;
    padding: 6px 16px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.adr-detail-name {
    font-size: 10px;
    color: #908F8F;
}

.adr-detail-value {
    width: 100%;
    font-size: 12px;
}

.adr-detail-value input:focus {
    outline: none;
}

.adr-detail-value input {
    width: 100%;
    padding: 0;
    border: none;
}


.history-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
    margin-bottom: 14px;
}

.history-wrap2 {
    width: 100%;
}

.history-name {
    font-size: 10px;
    color: #908F8F;
}

.history-value {
    width: 100%;
    font-size: 12px;
}

.history-value .history-start-date ,.history-value .history-end-date {
    width: 65px;
    font-size: 10px;
    padding: 0;
    border: none;
}

.history-value .history-content {
    width: 200px;
    border: 1px solid #DADADA;
}

.bth-history {
    border: 1px solid #16EAB7;
    color: #16EAB7;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px;
}

.photo-wrap {
    height: 44px;
    padding: 6px 16px;
    border: 1px solid #f2f2f2;
}

.photo-wrap2 {
    width: 100%;
}

.photo-name {
    font-size: 10px;
    color: #908F8F;
}

.photo-value {
    width: 100%;
    font-size: 12px;
}

.photo-value .photo-content {
    width: 93%;
    margin-right: 5px;
    border: 1px solid #DADADA;
}

.bth-photo {
    border: 1px solid #16EAB7;
    color: #16EAB7;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px;
}


.data-save {
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
    width: 100%;
    height: 31px;
    border: solid #f2f2f2 1px;
    margin-bottom: 14px;
    font-size: 10px;
    font-weight: bold;
    background-color: #f2f4fa;
}

.save-choice {
    font-size: 10px;
    font-weight: bold;
}

.submit {
    width: 100%;
    height: 40px;
    font-size: 10px;
    font-weight: bold;
    background-color: #16EAB7;
    border-radius: 3px;
    border: none;
}


/*.id-wrap2 {*/
/*    margin-top: 30px;*/
/*    border: 1px solid #dadada;*/
/*    padding: 6px 16px;*/
/*    height: 44px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*.id-wrap2 span {*/
/*    display: block;*/
/*    font-size: 10px;*/
/*}*/
/*.id-wrap2 input {*/
/*    display: block;*/
/*    border: none;*/
/*    padding: 0;*/
/*    font-size: 12px;*/
/*}*/

/*.id-wrap2 input:focus {*/
/*    outline: none;*/
/*    border: 1px solid #16EAB7;*/
/*}*/


/*==================================*/

/*.outer-box {*/
/*    display: flex;*/
/*    padding: 10px 16px;*/
/*    border: 1px solid gray;*/
/*    align-items: center;*/
/*}*/

/*.checked-outer-box {*/
/*    width: 1rem;*/
/*    height: 1rem;*/
/*    position: relative;*/
/*    margin-right: 10px;*/
/*}*/

/*.checked-outer-box input[type="checkbox"] {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    appearance: none;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 1px solid black;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    transition: 0.5s;*/
/*}*/

/*.checked-outer-box input[type="checkbox"]:checked {*/
/*    background-color: #16EAB7;*/
/*    border: none;*/
/*}*/

/*.check-mark:after {*/
/*    content: "";*/
/*    display: none;*/
/*}*/

/*.checked-outer-box input[type="checkbox"]:checked ~ .check-mark:after {*/
/*    display: block;*/
/*    content: "";*/
/*    width: 5px;*/
/*    height: 10px;*/
/*    border-right: 1px solid white;*/
/*    border-bottom: 1px solid white;*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%) rotate(45deg);*/
/*    top: 45%;*/
/*    left: 50%;*/
/*}*/
