@import "normalize.css";
@import "normalizePlus.css";

.join-employer {
    width: 622px;
    height: 860px;
    margin-top: 40px;
    padding: 43px 96px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.join-title {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding-bottom:4px;
    margin-bottom: 37px;
}

.agree,
.radio-select-box,
.auth,
.id,
.re-password,
.email-box,
.business-number-box,
.period-select-box {
    margin-bottom: 14px;
}

.agree-all {
    height: 46px;
    padding: 14px 16px;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #F2F4FA;
}

.agree-select {
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.agree-service,
.agree-personal-info,
.agree-sms,
.agree-email {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.agree-service,
.agree-personal-info,
.agree-sms {
    margin-bottom: 4px;
}

.agree-all .checkbox-box,
.agree-service .checkbox-box,
.agree-personal-info .checkbox-box,
.agree-sms .checkbox-box,
.agree-email .checkbox-box {
    width: 1rem;
    height: 1rem;
    position: relative;
    margin-right: 10px;
}

.agree-all .checkbox-box input[type="checkbox"],
.agree-service .checkbox-box input[type="checkbox"],
.agree-personal-info .checkbox-box input[type="checkbox"],
.agree-sms .checkbox-box input[type="checkbox"],
.agree-email .checkbox-box input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

.agree-all .checkbox-box input[type="checkbox"]:checked,
.agree-service .checkbox-box input[type="checkbox"]:checked,
.agree-personal-info .checkbox-box input[type="checkbox"]:checked,
.agree-sms .checkbox-box input[type="checkbox"]:checked,
.agree-email .checkbox-box input[type="checkbox"]:checked {
    background-color: #5195f7;
    border: none;
}

.agree-all .checkmark,
.agree-service .checkmark,
.agree-personal-info .checkmark,
.agree-sms .checkmark,
.agree-email .checkmark {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
}

.agree-all .checkbox-box .checkmark:after,
.agree-service .checkbox-box .checkmark:after,
.agree-personal-info .checkbox-box .checkmark:after,
.agree-sms .checkbox-box .checkmark:after,
.agree-email .checkbox-box .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.agree-all .checkbox-box input:checked ~ .checkmark:after,
.agree-service .checkbox-box input:checked ~ .checkmark:after,
.agree-personal-info .checkbox-box input:checked ~ .checkmark:after,
.agree-sms .checkbox-box input:checked ~ .checkmark:after,
.agree-email .checkbox-box input:checked ~ .checkmark:after {
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(45deg);

}

.agree-service label > span,
.agree-personal-info label > span{
    color: red;
}

.accordion {
    height: 170px;
}

.precaution {
    padding: 5px 2px 5px 16px;
    color: #908F8F;
    font-size: 10px;
}

.radio-select-box {
    width: 100%;
    height: 31px;
    background-color: #F2F4FA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.radio-select-box span {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.radio-select-box span input[type="radio"] {
    margin-right: 3px;
}

.auth,
.id,
.password,
.email-box,
.business-number-box {
    height: 47px;
    border: 1px solid #E3E3E3;
    padding: 6px 16px;
}
.re-password {
    height: 47px;
    border-bottom: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    padding: 6px 16px;
}

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;

}

.auth span {
    font-size: 12px;
}

.auth button,
.email-box button {
    border: 1px solid #10C6FF;
    padding: 4px 16px;
    font-size: 12px;
    color: #10C6FF;
    background-color: white;
    border-radius: 5px;
}

.id, .password, .re-password{
    display: flex;
    flex-direction: column;
}

.id span,
.password span,
.re-password span,
.email span,
.business-number-box span {
    font-size: 10px;
    color: #908f8f;
}

.id input,
.password input,
.re-password input,
.email input {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
}

.email-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    display: flex;
    flex-direction: column;
}

.business-number-box {
    display: flex;
    flex-direction: column;
}

.business-number input {
    display: inline;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
}

.business-number input:nth-child(1) {
    width:50px;
}

.business-number input:nth-child(2) {
    width:40px;
}

.business-number input:nth-child(3) {
    width:70px;
}

.text-period-box strong {
    font-size: 12px;
}

.btn-join-complete {
    width: 100%;
    heigth: 39px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #10C6FF;
    font-size: 12px;
    font-weight: bold;
}












