@import "normalize.css";
@import "normalizePlus.css";

.login-form {
    width: 474px;
    height: 681px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.logo {
    margin-top: 64px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
}

.worker-highlight {
    border: 3px solid #16EAB7;
    border-radius: 5px;
}

.employer-highlight {
    border: 3px solid #10C6FF;
    border-radius: 5px;
}

.login-select {
    height: 37px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-select ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-select ul li {
    display: inline;
    width: 50%;
}

.login-select ul li:nth-child(1) {
    padding: 10px 15px;
    cursor: pointer;
}

.login-select ul li:nth-child(1):hover {
    border: 3px solid #16EAB7;
    border-radius: 5px;
}

.login-select ul li:nth-last-child(1) {
    padding: 10px 15px;
    cursor: pointer;
}

.login-select ul li:nth-last-child(1):hover {
    border: 3px solid #10C6FF;
    border-radius: 5px;
}

.login-select ul li > a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.id {
    display: block;
    width: 100%;
    height: 53px;
    padding: 18px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 9px;
}

.id::placeholder,
.pw input[type="password"]::placeholder {
    font-size: 14px;
}

.id:hover, .id:active, .id:focus,
.pw input[type="password"]:hover, .pw input[type="password"]:active, .pw input[type="password"]:focus {
    border: 2px solid #6AB5EA;
}

.pw {
    position: relative;
}

.pw input[type="password"] {
    height: 53px;
    padding: 18px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
}

.pw img {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 15px;
    cursor: pointer;
}

.btn-login {
    margin-top: 28px;
    margin-bottom: 15px;
    width: 100%;
    height: 47px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    background: conic-gradient(from 97.16deg at 14.68% 33.02%, #16EAB7 -1.56deg, #10C6FF 3.28deg, #FF3030 176.95deg, #FFE820 182.7deg, #16EAB7 358.44deg, #10C6FF 363.28deg);
    border-radius: 5px;
    color: #2c3034;
    font-weight: bold;
}

.find-or-join {
    margin: 15px 0 24px 0;
    display: flex;
    justify-content: center;
}

a.find-id, a.find-pw, a.join {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 14px;
}

.social-login {
    padding: 25px 0 56px 0;
    border-top: 1px solid #908F8F;
    position: relative;
}

.social-login > span {
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
    color: #908F8F;
}

.social-login a.naver,
.social-login a.kakao {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 40px;
    padding: 11px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.social-login a.naver b,
.social-login a.kakao b {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.social-login a.naver {
    background-color: #03C75A;
    color: white;
    margin-bottom: 10px;
}

.social-login a.kakao {
    background-color: #FEE500;
    color: #191919;
}