<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            text-align: center;
            height:100vh;
        }
        div strong {
            display: block;
            font-size: 10rem;
        }
        a {
            position: absolute;
            top: 40%;
            left: 62%;
            text-decoration: none;
            font-size:2rem;
        }
    </style>
</head>
<body>
<div>
    <a href="/login">로그인</a>
    <strong>Welcome</strong>
</div>

</body>
</html>