<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head::head2(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>

<section class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="login-form rounded-4 shadow">
        <div class="d-flex justify-content-center logo">
            <img src="/image/logo-nogo.svg" alt="로고">
        </div>
        <div class="personal-corporate d-flex justify-content-center">
            <ul>
                <li><a href="#">개인 회원</a></li>
                <li><div class="vr"></div></li>
                <li><a href="#">기업 회원</a></li>
            </ul>
        </div>
        <input class="input-id w-100" type="text" placeholder="아이디">
        <div class="pw">
            <input class="input-pw w-100" type="password" placeholder="비밀번호">
            <div href="#">
                <img class="eye" src="/image/eye-solid.svg" alt="비밀번호 보기">
            </div>
        </div>
        <input class="login-btn w-100" type="submit" value="로그인"/>
        <div class="find-or-join d-flex justify-content-center">
            <div class="find-id">
                <a class="text-decoration-none text-dark" href="#">아이디 찾기</a>
            </div>
            <div class="vr"></div>
            <div class="find-pw">
                <a class="text-decoration-none text-dark" href="#">비밀번호 찾기</a>
            </div>
            <div class="vr"></div>
            <div class="join">
                <a class="text-decoration-none text-dark" href="#">회원가입</a>
            </div>
        </div>

        <div class="social-login">
            <div class="social-login-text">간편 로그인</div>
            <div class="naver-social-login w-100">
                <img src="/image/logo-naver.svg" alt="naver">
                <div class="naver-text">
                    <span>네이버 로그인</span>
                </div>
            </div>
            <div class="kakao-social-login w-100">
                <img src="/image/logo-kakao.svg" alt="kakao">
                <div class="kakao-text">
                    <span>카카오 로그인</span>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{fragment/footer::bootstrap}"></footer>
</body>
</html>