<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<section class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="login-form">
    <div class="logo">
      <img src="/image/logo-nogo.svg" alt="로고">
    </div>

    <form action="" method="post">
      <div class="login-select">
        <ul>
          <li class="worker-highlight">개인 회원</li>
          <li>
            <div class="vr"></div>
          </li>
          <li>기업 회원</li>
        </ul>
      </div>

      <input class="id" type="text" placeholder="아이디">

      <div class="pw">
        <input type="password" placeholder="비밀번호">
        <img src="/image/eye-solid.svg" alt="비밀번호 보기">
      </div>

      <button class="btn-login" type="submit">로그인</button>
    </form>

    <div class="find-or-join">
      <a class="find-id" href="#">아이디 찾기</a>
      <div class="vr"></div>
      <a class="find-pw" href="#">비밀번호 찾기</a>
      <div class="vr"></div>
      <a class="join" href="#">개인 회원가입</a>
    </div>

    <div class="social-login">
      <span>간편 로그인</span>

      <a href="#" class="naver">
        <img src="/image/logo-naver.svg" alt="naver">
        <b>네이버 로그인</b>
      </a>

      <a href="#" class="kakao">
        <img src="/image/logo-kakao.svg" alt="kakao">
        <b>카카오 로그인</b>
      </a>

    </div>

  </div>
</section>


<script src="/js/login.js"></script>
<footer th:replace="~{fragment/footer::bootstrap}"></footer>
</body>
<head th:replace="~{fragment/head::head2(~{::title},~{::link})}">
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
</html>